html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica Neue", "Helvetica",  "Arial", 
}

.flex-column {
    flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100vw;
    height: 60px;
    background-color: #1B1B1B;
    transition: all .5s ease;
}

nav img {
    max-width: 2%;
    height: auto;
    margin: 0 3%;
    cursor: pointer;
}

nav #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 3%;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D1D1D1;
    text-decoration: none;
    font-weight: bold;
    height: 60px;
    padding: 0 20px;
    transition: all .5s ease;
}

nav a.active, nav a:hover {
    background-color: #545454; 
    border-bottom: 5px solid white;
}

#home #image-column, #text-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 600px) {
    #home #image-column {
        align-items: end;
    }
    
    #home #text-column {
        align-items: start;
    }

    #home #image-column img {
        max-width: 90%;
        height: auto;
        margin-top: 50px;
    }
}

.background {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding-top: 80px;
    background-color: #D1D1D1;
    max-width: 100%;
    width: 100vw;
    min-height: 100vh;
}

.dark {
    background-color: #303030;
}

@media(max-width: 600px) {
    .background {
        flex-direction: column;
    }
}

#opening-logo {
    flex: 1;
    max-width: 50%;
    height: auto;
}

#opening-text {
    padding: 10%;
    flex: 1;
    color: #D1D1D1;
    font-size: 2em;
}

@media(max-width: 600px) {
    #opening-text {
        font-size: 1em;
    }
}

#members-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#members .title {
    margin: 0;
    margin-left: 50px;
    font-size: 3em;
    color: #303030;
}

#member {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    width: 50%;
}

.member-name {
    margin: 0;
    font-size: 2em;
}

.member-photo {
    border-radius: 50%;
    width: 250px;
    height: auto;
    margin: 0 50px
}

.member-text {
    margin-bottom: 0;
    text-align: justify;
}