html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica Neue", "Helvetica",  "Arial";
    background-color: #303030;
}

.flex-column {
    flex-direction: column;
}

.mobile {
    display: none;
}

.desktop {
    display: flex;
}

@media(max-width: 600px) {
    .mobile {
        display: flex;
    }
    
    .desktop {
        display: none;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100vw;
    height: 60px;
    background-color: #1B1B1B;
    transition: all .5s ease;
}

nav #logo {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav img {
    max-width: 40px;
    height: auto;
    margin: 0 3%;
    cursor: pointer;
}

nav #menu {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 3%;
}

nav #menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D1D1D1;
    text-decoration: none;
    font-weight: bold;
    height: 60px;
    padding: 0 20px;
    transition: all .5s ease;
}

nav #menu a.active, nav #menu a:hover {
    background-color: #545454; 
    border-bottom: 5px solid white;
}

nav #social-medias {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #social-medias .social-media {
    background-color: #D1D1D1;
    border-radius: 50%;
    margin: 10px;
}

nav #social-medias .social-media:hover, nav #social-medias .social-media:active {
    background-color: #303030;
}

nav #social-medias a {
    text-decoration: none;
    color: #303030;
    cursor: pointer;
    padding: 7px;
}

nav #social-medias a:hover, nav #social-medias a:active {
    color: #D1D1D1;
}

#about #image-column, #text-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 600px) {
    #about #image-column {
        display: none;
    }
    
    #about #text-column {
        align-items: start;
    }

    #about #image-column img {
        max-width: 90%;
        height: auto;
        margin-top: 50px;
    }
}

#home {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 60px;
}

@media(max-width: 600px) {
    #home {
        margin-top: 60px;
    }
}

.background {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding-top: 80px;
    background-color: #D1D1D1;
    max-width: 100%;
    width: 100vw;
    min-height: 100vh;
}

.dark {
    background-color: #303030;
}

@media(max-width: 600px) {
    .background {
        flex-direction: column;
    }
}

#about {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 60px 0;
    max-width: 100%;
    width: 100vw;
}

@media(min-width: 601px) {
    #about {
        min-height: 100vh;
    }
}


#about-logo {
    flex: 1;
    max-width: 50%;
    height: auto;
}

#about-text {
    padding: 10%;
    flex: 1;
    color: #D1D1D1;
    font-size: 2em;
    text-align: justify;
}

@media(max-width: 600px) {
    #about-text {
        font-size: 1em;
    }
}

#members-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#members .title {
    margin: 0;
    margin-left: 50px;
    font-size: 3em;
    color: #303030;
}

@media(max-width: 600px) {
    #members {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #members .title {
        margin: 0;
        margin-bottom: 50px;
    }
}

#member {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    width: 50%;
}

@media(max-width: 600px) {
    #member {
        flex-direction: column;
        margin: 0;
        margin-bottom: 20px;
        width: 80%;
    }

    #member div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.member-name {
    margin: 0;
    font-size: 2em;
    color: #303030;
}

.member-photo {
    border-radius: 50%;
    width: 250px;
    height: auto;
    margin: 0 50px
}

@media(max-width: 600px) {
    .member-photo {
        width: 200px;
        height: auto;
        margin: 20px;
    }
}

.member-text {
    margin-bottom: 0;
    text-align: justify;
    color: #303030;
}